<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/css/bundle.css" rel="stylesheet" />  
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
        <div class="row" style="min-height: 500px;">
            <div action="col-xs-12">
                @RenderBody()
            </div>
        </div>
        @Html.Partial("_Footer")
    </div>
    <script src="/js/bundle.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
