<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bundle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="container">
        @Html.Partial("~/Views/Shared/_GoBackToMainMenu.cshtml")
        <div class="row">
            <div class="col-xs-12">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
        <div class="row" style="min-height: 500px;">
            <div action="col-xs-12">
                @RenderBody()
            </div>
        </div>
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
